In [33]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from itertools import combinations

In [30]:
df_planes= pd.read_csv('../../data/data_inicial/RECOMENDACION_ALL.csv')
pd.options.display.max_columns = None

In [34]:
df_planes

,nombre,subcategoria,descripcion,url,id,categoria
0,Escape room urbano para grupos de 2 a 6 person...,juegos de escape,opciones incluyen juego escape room urbano hor...,https://www.groupon.es/deals/parapark-madrid-2,3783,Entretenimiento
1,Escape game para 4 a 6 personas en una sala a ...,juegos de escape,incluye escape game salas participantes duraci...,https://www.groupon.es/deals/escapology-ilusio...,3759,Entretenimiento
2,"Escape room con actores ""La Maldición de los B...",juegos de escape,sala privada solo caso grupo personas habitaci...,https://www.groupon.es/deals/ncerrados-escape-...,3780,Entretenimiento
3,Juego de escape para hasta 5 personas en Enigm...,juegos de escape,juego escape personas enigmas room,https://www.groupon.es/deals/enigmas-room-3,3758,Entretenimiento
4,Escape room con 3 habitaciones a elegir para h...,juegos de escape,escape rooms elegir jungla ashe orishas duraci...,https://www.groupon.es/deals/bucaneros-park,3746,Entretenimiento
...,...,...,...,...,...,...
4508,Dolce & Salado Restaurante,restaurantes,comida rápida española tienda gourmet street f...,/Restaurant_Review-g187514-d17599784-Reviews-D...,1334,Gastronomía
4509,Kokoxaxaasador,restaurantes,barbacoa sushi asiática,/Restaurant_Review-g187514-d21079293-Reviews-K...,1803,Gastronomía
4510,Ju Yuan Xiao Guan,restaurantes,china comida rápida,/Restaurant_Review-g187514-d14957781-Reviews-J...,980,Gastronomía
4511,Expresology,restaurantes,latina café comida rápida española saludable v...,/Restaurant_Review-g187514-d23029103-Reviews-E...,1964,Gastronomía
4512,Kebab & Pollo A La Broaster,restaurantes,turca,/Restaurant_Review-g187514-d13825388-Reviews-K...,815,Gastronomía

In [35]:
contador_argumento= CountVectorizer(min_df=3)

argumentos_bag_of_words =(contador_argumento
                          .fit_transform(df_planes["descripcion"])
                          .toarray())

argumentos_bag_of_words

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [39]:
columnas_argumentos= [tup[0] for tup in sorted(contador_argumento.vocabulary_.items(), key= lambda x: x[1])]

argumentos_bag_of_words_df= pd.DataFrame(argumentos_bag_of_words, columns=columnas_argumentos, index= df_planes["nombre"])

In [52]:
argumentos_bag_of_words_df["escape"]

nombre
Escape room urbano para grupos de 2 a 6 personas con dí...    1
Escape game para 4 a 6 personas en una sala a elegir en...    2
Escape room con actores "La Maldición de los Balaguer"...     1
Juego de escape para hasta 5 personas en Enigmas Room         1
Escape room con 3 habitaciones a elegir para hasta 6 pe...    1
                                                             ..
Dolce & Salado Restaurante                                    0
Kokoxaxaasador                                                0
Ju Yuan Xiao Guan                                             0
Expresology                                                   0
Kebab & Pollo A La Broaster                                   0
Name: escape, Length: 4513, dtype: int64

In [ ]:
def tokenizador_categorias(string_categorias):
    generos_separados = string_categorias.split